:host {
  --icon-size: 24px;
  --button-size: 56px;
  --button-active-marker-width: 4px;

  height: 100%;

  nav {
    height: 100%;
    width: var(--nav-bar-width);
  }

  .menu-item {
    margin-bottom: 2rem;

    .is-active {
      height: 40px;
      border-radius: 0 4px 4px 0;
      width: var(--button-active-marker-width);
      color: transparent;
    }

    a {
      margin: 0 calc(var(--button-active-marker-width) * 2) 0
        var(--button-active-marker-width);
      width: var(--button-size);
      height: var(--button-size);
      border-radius: 50%;
      background-color: var(--slate-level1);

      > svg {
        fill: var(--white-level1);
        width: var(--icon-size);
        height: var(--icon-size);
      }
    }

    a:hover {
      > svg {
        fill: var(--white-level0);
      }
    }
  }

  .menu-item.active {
    .is-active {
      background-color: var(--white-level0);
    }

    a > svg {
      fill: var(--white-level0);
    }
  }
}
