/** Margins */
.mt-8p {
  margin-top: 8px;
}
.mt-16p {
  margin-top: 16px;
}
.mt-24p {
  margin-top: 24px;
}
.mt-32p {
  margin-top: 32px;
}
.mt-48p {
  margin-top: 48px;
}
.mt-56p {
  margin-top: 56px;
}
.mt-64p {
  margin-top: 64px;
}
.mt-120p {
  margin-top: 120px;
}

.mb-8p {
  margin-bottom: 8px;
}
.mb-16p {
  margin-bottom: 16px;
}
.mb-24p {
  margin-bottom: 24px;
}
.mb-32p {
  margin-bottom: 32px;
}
.mb-48p {
  margin-bottom: 48px;
}
.mb-56p {
  margin-bottom: 56px;
}
.mb-64p {
  margin-bottom: 64px;
}

.pt-8p {
  padding-top: 8px;
}
.pt-16p {
  padding-top: 16px;
}
.pt-24p {
  padding-top: 24px;
}
.pt-32p {
  padding-top: 32px;
}
.pt-48p {
  padding-top: 48px;
}
.pt-56p {
  padding-top: 56px;
}
.pt-64p {
  padding-top: 64px;
}

.pb-8p {
  padding-bottom: 8px;
}
.pb-16p {
  padding-bottom: 16px;
}
.pb-24p {
  padding-bottom: 24px;
}
.pb-32p {
  padding-bottom: 32px;
}
.pb-48p {
  padding-bottom: 48px;
}
.pb-56p {
  padding-bottom: 56px;
}
.pb-64p {
  padding-bottom: 64px;
}

/* Left/Right margins */
.mr-8p {
  margin-right: 8px;
}
.mr-16p {
  margin-right: 16px;
}
.mr-24p {
  margin-right: 24px;
}

.ml-8p {
  margin-left: 8px;
}
.ml-16p {
  margin-left: 16px;
}
.ml-24p {
  margin-left: 24px;
}
