<table class="styled-table">
  <thead>
    <th>Location</th>
    <th>Last Loaded</th>
  </thead>
  <tbody *ngFor="let mru of mostRecentlyUsedItems$ | async;">
    <tr>
      <td>{{ mru.episodeLocation }}</td>
      <td>{{ mru.lastLoaded }}</td>
      <td><button pButton pRipple type="button" label="Load" class="p-button-rounded p-button-sm"
          (click)="loadEpisode(mru.episodeLocation)"></button></td>
    </tr>
  </tbody>
</table>
<button pButton pRipple type="button" label="Refresh" class="p-button-rounded p-button-sm"
  (click)="refreshMostRecentList()"></button>
<!-- <ul *ngFor="let mru of mostRecentlyUsedItems$ | async;">
  <li>{{ mru.episodeLocation }} {{ mru.lastLoaded }} </li>
</ul> -->