@import './themes/default-dark.scss';
@import 'primeflex/primeflex.scss';
@import './fragments/reset';
@import './fragments/colors';
@import './fragments/typography';
@import './fragments/utilities';
@import './fragments/sizes';

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

html,
body {
  color: var(--text-color);
  background-color: var(--slate-level0);
  height: 100%;
}

.grid {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
