<app-full-page>
  <section class="grid">
    <div class="col">

      <div class="welcome-banner w-full"></div>

    </div>
  </section>

  <div class="grid">
    <div class="col">
      <div class="fc-display mt-4">{{ 'PAGES.HOME.TITLE' | translate }}</div>

      <h1 class="fc-header-1">Header 1</h1>
      <h2 class="fc-header-2">Header 2</h2>

      <div class="fc-menu-item">Menu Item</div>
      <div class="fc-body">Body</div>

      <div class="fc-description">Description</div>

      <a routerLink="/information" class="fc-link">{{ 'PAGES.HOME.GO_TO_DETAIL' | translate }}</a>

      <div class="p-field">
        <label for="username1" class="fc-body">Example Field</label>
        <input id="username1" class="p-inputtext-lg" aria-describedby="username1-help" pInputText
          [(ngModel)]="value4" />
          <small id="username1-help" class="fc-description">This is an example field</small>
      </div>

      <div class="field-checkbox">
        <p-checkbox binary="true" inputId="checkExample"></p-checkbox>
        <label for="checkExample" class="fc-body">Check if you are awesome</label>
      </div>

      <button pButton pRipple type="button" label="Primary" class="p-button-rounded p-button-sm"></button>
      <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
      <button pButton pRipple type="button" label="Primary" class="p-button-rounded p-button-lg"></button>

      <hr>
      <h2>Shaun's Mocking</h2>

      
      <div class="p-field">
        <label for="episode-location" class="fc-body">Episode Location</label>
        <input id="episode-location" class="p-inputtext-lg" aria-describedby="episode-location-help" pInputText
          [(ngModel)]="value4" [value]="episodeIdentifier" (input)="episodeIdentifierChange($event)"
          style="width: 600px;" />
        <small id="episode-location-help" class="fc-description">Directory path to the episode.</small>
      </div>
      
      <button pButton pRipple type="button" label="Create Episode" class="p-button-rounded p-button-lg"
        (click)="createEpisode()"></button>


    </div>
  </div>
</app-full-page>