:host {
  .welcome-banner {
    height: 250px;
    background-size: cover;
    border-radius: 12px;
    background-image: url(https://media.istockphoto.com/vectors/spaceship-in-outer-space-with-planets-or-asteroids-vector-id1225729017);
  }

  .p-field * {
    display: block;
  }
}
